.content{
    width: 90%;
    margin: 1.4rem auto auto auto;
    color: black;
}



.title{
    text-align: center;
    margin-bottom: 3rem;
}

button{
  margin-bottom: .8rem;  
}

.livros{
    color: rgb(66, 140, 206);
    margin-left: .6rem;
}

.title h1{
    font-size: 2rem;
    color:rgb(19, 15, 15);
    font-weight: 500;
}

.table{
    width: 100%;
}

.edit{
    color: rgb(189, 183, 101);
    margin-right: 0.5rem;;
}

.delete{
    color: brown;
}

.mat-header{
    width: 6rem;
}