<form>
    <h1>Deletando LIVRO</h1>

    <mat-form-field class="form">
        <mat-label>Titulo</mat-label>
        <input matInput [(ngModel)]="livro.titulo"  type="text" name="titulo" disabled maxlength="100">
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Nome do Autor</mat-label>
        <input matInput [(ngModel)]="livro.nome_autor" type="text" disabled  name="nome_autor"  maxlength="100">
        
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Texto</mat-label>
        <textarea matInput [(ngModel)]="livro.texto"    type="text" name="texto" disabled maxlength="2000000"></textarea>
      
    </mat-form-field>

    <div class="buttons">
        <button (click)="delete()"  class="mat-elevation-z8"  mat-stroked-button color="primary">DELETAR</button>
        <button class="mat-elevation-z8"  (click)="cancel()" mat-stroked-button color="warn">CANCELAR</button>
    </div>
</form>